main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */

  h3 {
    color: blue;
  }
  
  /* Task 2 */

  .red {
    color: red;
  }
  
  /* Task 3 */
  
   /* img {
    padding:1px;
    border:1px solid #021a40;
   } */
   .mta {
    padding:1px;
    height: 205px;

   }

   .rose {
    padding:1px;
    border:3px solid #021a40;
     height: 200px;
   }
   
  
  /* Task 4 */

  a[href*=".com"] {
    background-color: yellow;
  }
  
  /* Task 5 */
  
  #t5 {
    color: rgb(221, 50, 207);
  }