  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */
  
  h1 {
    text-align: center;    
  }
    
  

  h3 {
    color: blue;
     }
  
  /* Task 2 */
  .red{
    color: red;
  }
  
  /* Task 3 */
  .b_red{
    border: red solid;
  }
  /* Task 4 */
  .bg_y li:last-child {
    background-color: yellow;
  }
  /* Task 5 */

  .l_pink li:last-child{
    color: pink;
  }   
