  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */

  h3 {
    color: blue;
  }
  
  /* Task 2 */

  .red {
    color: red;
  }
  
  /* Task 3 */
  /* works with cominators '+' and '~' */
  img + img {
    border: solid black 2px;
  }
  
  /* Task 4 */

  a[href*=".com"] {
    background-color: yellow;
  }
  
  /* Task 5 */
  
  #t5 {
    color: green;
  }